@use '../../styles/variables';
@use '../../styles/global';

.blog {
    .hero {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        overflow: hidden;

        &__textbar {
            position: relative;

            h1 {
                padding: 0 10px;
                font-size: 164px;
            }
        }
    }
}
