@use './reset';
@use './variables';

body {
    color: variables.$foreground-2;
    background-color: variables.$background-1;
}
.section {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    position: relative;
}
