@use '../../styles/variables';

.blog {
    background-color: variables.$background-1;
    font-family: 'Cormorant', serif;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    color: variables.$foreground-2;
    position: relative;

    .ball {
        background-color: red;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        mix-blend-mode: difference;
    }

    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

        &__logo {
            h3 {
                font-size: 32px;
                font-weight: 400;
                font-family: 'Amiri', serif;
                line-height: 20px;
                text-align: right;
                margin: 60px;
            }
        }

        &__hamburger {
            margin-right: 60px;

            .visuallyHidden {
                position: absolute;
                overflow: hidden;
                clip: rect(0 0 0 0);
                height: 1px;
                width: 1px;
                margin: -1px;
                padding: 0;
                border: 0;
            }

            .hamburger {
                margin: 0 auto;
                margin-top: 30px;
                width: 30px;
                height: 30px;
                position: relative;
            }

            .hamburger .bar {
                padding: 0;
                width: 30px;
                height: 4px;
                background-color: variables.$foreground-2;
                display: block;
                border-radius: 4px;
                transition: all 0.4s ease-in-out;
                position: absolute;
            }

            .bar1 {
                top: 0;
            }

            .bar2,
            .bar3 {
                top: 13.5px;
            }

            .bar3 {
                right: 0;
            }

            .bar4 {
                bottom: 0;
            }
        }
    }

    .hero {
        position: relative;
        width: 100vw;
        height: 100vh;

        @mixin mirror-right {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
        }

        &__black-hole {
            @include mirror-right();
            width: 470px;
            height: 280px;
            //   background-color: black;
            background-color: variables.$foreground-2;
        }

        &__left-text {
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translateY(-100%);
            padding-right: 10px;

            h1 {
                font-size: 48px;
                text-align: right;
            }
        }

        &__right-text {
            @include mirror-right();
            transform: translateY(-100%);
            margin-top: -48px;
            padding-left: 10px;

            h2 {
                font-size: 48px;
                color: white;
            }
        }
    }
}

// RESET!!

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}
